@page {
    size: auto;
    margin: 0mm;
}

input {
    border: 0 !important;
    border-radius: 0;
}
.btn,
h1,
.lang-switcher,
.table-legend,
.currency-selector,
.table-wrapper.foundres-table table tr td:last-of-type,
.table-wrapper.investors-table table tr td:last-of-type,
button {
    display: none !important;
}
.table-wrapper.investors-table,
.table-wrapper.foundres-table {
    padding-bottom: 0 !important;
}
.table-wrapper table td > span {
    padding: 0 !important;
}

.eval-table {
    flex-direction: row !important;
    justify-content: space-between;
    border: 0 !important;
    padding-left: 40px;
}
.eval-table h3 img {
    display: none;
}
/* .eval-table .form-group {
    flex-direction: row;
} */
.eval-table input {
    text-align: center;
    font-size: 40px;
}
.brief-table {
    border: 0 !important;
}
.brief-table {
    page-break-before: always;
    clear: both;
}
/* *,
.wrapper div.table-wrapper table thead td {
    border-color: #000 !important;
    border-top-color: #000 !important;
} */
.brief-table .table {
    border: 1px solid #e5e4e4 !important;
}
.brief-table .breif {
    page-break-before: always;
    clear: both;
    border: 1px solid #e5e4e4 !important;
}
.investors-table,
.foundres-table {
    page-break-inside: avoid;
    clear: both;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #000 !important;
    font-weight: bold;
}
