/* 4K Screens */
@media all and (min-width: 2560px) {
}

/* Extra large screens */
@media all and (min-width: 1921px) {
}

@media all and (min-width: 1401px) {
}

/* Large screens */
@media all and (max-width: 1400px) {
}

/* Small laptops */
@media all and (max-width: 991px) {
}

/* Tables */
@media all and (max-width: 768px) {
    .wrapper {
        margin-top: 80px !important;
    }
    .lang-switcher {
        top: 10px !important;
        left: 10px !important;
    }
    .currency-selector {
        top: 10px !important;
        right: 10px !important;
    }
    body.en-body .currency-selector {
        right: auto !important;
        left: 10px !important;
    }
    body.en-body .lang-switcher {
        right: 10px !important;
        left: auto !important;
    }
    .breif {
        display: flex !important;
        flex-wrap: wrap;
        flex-direction: column;
    }
    .breif .single-breif {
        display: flex !important;
        flex-direction: column;
    }

    .breif .single-breif h3 {
        padding: 15px 0 !important;
        /* padding-top: 30px !important; */
    }
    .breif .single-breif .split .part .brief-label {
        display: block !important;
    }
    .breif .single-breif .split .part .value span {
        display: block;
    }
    .breif .single-breif .split .part {
        text-align: center;
        flex-direction: column-reverse !important;
    }
    .breif .single-breif.breif-header {
        display: none !important;
    }
    .eval-table {
        flex-direction: column;
    }
    .eval-table .form-group {
        flex-direction: column;
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-bottom: 20px;
    }

    /* .table-wrapper.foundres-table table tr td:last-of-type, */
    /* .table-wrapper.investors-table table tr td:last-of-type { */
    /* border-right: 0 !important; */
    /* opacity: 0; */
    /* display: none; */
    /* } */
    table tr td:first-of-type {
        display: none;
    }
    .table-wrapper table tfoot {
        background-color: #fff !important;
    }
    .table-wrapper.investors-table,
    .table-wrapper.foundres-table {
        padding-bottom: 85px;
    }
    .table-header {
        text-align: center;
        display: block !important;
    }
    .table-wrapper.investors-table:after,
    .table-wrapper.foundres-table:after {
        content: '';
        height: 85px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #f1f1f1;
        display: block;
        z-index: 1;
    }
    .table-header button {
        position: absolute;
        width: calc(100% - 18px - 18px);
        left: 18px;
        right: 18px;
        bottom: 18px;
        z-index: 2;
    }
    .table-wrapper.brief-table .table-header {
        padding: 0 !important;
    }
    .table-wrapper.brief-table .table-header h3 {
        padding: 18px !important;
    }
    .table-legend {
        padding: 15px 0;
        justify-content: center;
        background-color: #f1f1f1;
    }
}

/* Custon size for hero section */
@media all and (max-width: 660px) {
}

/* Phones */
@media all and (max-width: 575px) {
}

/* Very small phones */
@media all and (max-width: 360px) {
    /*  */
}
