<template>
  <div class="wrapper">
    <h1>{{ $t('shared.title') }}</h1>

    <div class="table-wrapper eval-table">
      <div class="table-header">
        <h3>{{ $t('section_1.company_eval') }}</h3>
      </div>
      <div class="form row">
        <div class="form-group">
          <div></div>
          <input
            type="text"
            class="form-control eval-input"
            @keypress="isNumber($event)"
            v-model="formated_current_evaluation"
            ref="evalInput"
            autofocus
          />
          <span>{{ $t(`currencies.${currency}.long`) }}</span>
        </div>
      </div>
    </div>
    <!-- / -->

    <div class="table-wrapper foundres-table">
      <!--  -->
      <div class="table-header">
        <h3>{{ $t('section_2.owners') }}</h3>
        <button class="btn btn-primary" @click="addNewFounder">{{ $t('section_2.add_owner') }}</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>#</td>
            <td>{{ $t('section_2.owner_name') }}</td>
            <td>{{ $t('shared.number_of_shares') }}</td>
            <td class="text-center">{{ $t('shared.ownership_percentage') }}</td>
            <td class="text-center">{{ $t('shared.remove') }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(person, i) in founders" :key="i">
            <td>{{i + 1}}</td>
            <td>
              <input type="text" class="form-control" v-model="person.name" />
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                @keypress="isNumber($event)"
                v-model="person.shares_count"
              />
            </td>
            <td class="text-center">
              <template
                v-if="total_of_founders_shares"
              >{{(person.shares_count / total_of_founders_shares) * 100 | toFixed}}%</template>
              <template v-else>0%</template>
            </td>
            <td class="text-center">
              <!-- <button v-if="i != 0" class="delete-btn" @click="removeFounder(i)"> -->
              <img
                src="https://i.imgur.com/FHJnpeU.png"
                alt="Delete"
                class="delete-btn"
                @click="removeFounder(i)"
                v-if="i != 0"
              />
              <!-- </button> -->
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>{{ $t('shared.total') }}</td>
            <td>{{founders.length}} {{ $t('section_4.current_owner') }}</td>
            <td
              style="padding-right: 20px"
            >{{total_of_founders_shares | formatMoney}} {{ $t('shared.share') }}</td>
            <td class="text-center">
              <template v-if="total_of_founders_shares">100%</template>
              <template v-else>0%</template>
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /table-1 -->

    <div class="table-wrapper investors-table">
      <div class="table-header">
        <h3>{{ $t('section_3.investors') }}</h3>
        <button class="btn btn-primary" @click="addNewinvestor">{{ $t('section_3.add_investor') }}</button>
      </div>
      <table class="table table-striped">
        <thead>
          <tr>
            <td>#</td>
            <td>{{ $t('section_3.investor_name') }}</td>
            <td>{{ $t('section_3.investment_amount') }}</td>
            <!-- <td class="text-center">قيمة السهم الواحد</td> -->
            <td class="text-center">{{ $t('shared.number_of_shares') }}</td>
            <td class="text-center">{{ $t('shared.remove') }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(person, i) in investors" :key="i">
            <td>{{i + 1}}</td>
            <td>
              <input type="text" class="form-control" v-model="person.name" />
            </td>
            <td>
              <input
                type="number"
                class="form-control"
                @keypress="isNumber($event)"
                v-model="person.investment_amount"
              />
            </td>
            <!-- <td class="text-center">{{single_share_value | formatMoney(4)}} {{ $t(`currencies.${currency}.short`) }}</td> -->
            <td class="text-center">
              <template
                v-if="single_share_value"
              >{{person.investment_amount / single_share_value | formatMoney}}</template>
              <template v-else>0</template>
              {{ $t('shared.share') }}
            </td>
            <td class="text-center">
              <!-- <button v-if="i != 0" class="delete-btn" @click="removeInvestor(i)"> -->
              <img
                src="https://i.imgur.com/FHJnpeU.png"
                alt="Delete"
                v-if="i != 0"
                class="delete-btn"
                @click="removeInvestor(i)"
              />
              <!-- </button> -->
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>{{ $t('shared.total') }}</td>
            <td>{{investors.length}} {{ $t('section_3.investor') }}</td>
            <td
              style="padding-right: 20px"
            >{{total_of_investments | formatMoney}} {{ $t(`currencies.${currency}.short`) }}</td>
            <!-- <td class="text-center"></td> -->
            <td class="text-center">
              <template
                v-if="total_investors_shares && total_investors_shares !== Infinity"
              >{{total_investors_shares | formatMoney}}</template>
              <template v-else>0</template>
              {{ $t('section_3.shares_out') }}
            </td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /table-2 -->

    <span class="printpagebreak"></span>

    <div class="table-wrapper brief-table" ref="content">
      <div class="table-header" v-if="all_types_of_investors.array.length">
        <h3>{{ $t('section_4.section_title') }}</h3>
        <div class="table-legend">
          <div class="item">{{ $t('section_3.investor') }}</div>
          <div class="item">{{ $t('section_4.current_owner') }}</div>
        </div>
      </div>
      <table class="table table-striped" v-if="all_types_of_investors.array.length">
        <thead>
          <tr>
            <td>#</td>
            <td>{{ $t('section_4.contributor_name') }}</td>
            <td>{{ $t('shared.number_of_shares') }}</td>
            <td class="text-center">{{ $t('shared.ownership_percentage') }}</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(person, i) in all_types_of_investors.array" :key="i">
            <td>{{i + 1}}</td>
            <td>
              <span :class="`person-type--${person.type}`">{{person.name}}</span>
            </td>
            <td>
              <template
                v-if="person.shares && person.shares !== Infinity "
              >{{person.shares | formatMoney}} {{ $t('shared.share') }}</template>
              <template v-else>0 {{ $t('shared.share') }}</template>
            </td>
            <td class="text-center">
              <template
                v-if="all_types_of_investors.shares_total && all_types_of_investors.shares_total !== Infinity"
              >{{(person.shares / all_types_of_investors.shares_total) * 100 | toFixed}}%</template>
              <template v-else>0%</template>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="breif">
        <div class="single-breif breif-header">
          <div class="split">
            <div class="part width-100">{{ $t('section_5.summary') }}</div>
          </div>
          <div class="split">
            <div class="part">{{ $t('section_5.before_investment') }}</div>
            <div class="part">{{ $t('section_5.after_investment') }}</div>
          </div>
        </div>
        <div class="single-breif">
          <h3>{{ $t('section_5.company_value') }}</h3>
          <div class="split">
            <div class="part">
              <div class="brief-label">{{ $t('section_5.preMoneyValuation') }}</div>
              <div class="value" :style="{'font-size': getFontSize(current_evaluation) + 'px'}">
                {{current_evaluation | formatMoney }}
                <span>{{ $t(`currencies.${currency}.short`) }}</span>
              </div>
            </div>
            <div class="part">
              <div class="brief-label">{{ $t('section_5.AfterMoneyValuation') }}</div>
              <div
                class="value"
                :style="{'font-size': getFontSize(+current_evaluation + +total_of_investments) + 'px'}"
              >
                {{+current_evaluation + +total_of_investments | formatMoney }}
                <span>{{ $t(`currencies.${currency}.short`) }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-breif">
          <h3>{{ $t('section_5.number_of_company_shares') }}</h3>
          <div class="split">
            <div class="part">
              <div class="brief-label">{{ $t('section_5.before_investment') }}</div>
              <div
                class="value"
                :style="{'font-size': getFontSize(total_of_founders_shares) + 'px'}"
              >
                {{total_of_founders_shares | formatMoney }}
                <span>{{ $t('shared.share') }}</span>
              </div>
            </div>
            <div class="part">
              <div class="brief-label">{{ $t('section_5.after_investment') }}</div>
              <div
                class="value"
                :style="{'font-size': getFontSize(all_types_of_investors.shares_total) + 'px'}"
              >
                <template
                  v-if="all_types_of_investors.shares_total && all_types_of_investors.shares_total !== Infinity "
                >{{all_types_of_investors.shares_total | formatMoney }}</template>
                <template v-else>0 &nbsp;</template>
                <span>{{ $t('shared.share') }}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="single-breif">
          <h3>{{ $t('section_5.single_share_value') }}</h3>
          <div class="split">
            <div class="part width-100">
              <div
                class="value"
                :style="{'font-size': (getFontSize(single_share_value) * 2) > 35 ? 35 + 'px' : (getFontSize(single_share_value) * 2) + 'px' }"
              >
                {{single_share_value | formatMoney }}
                <span>{{ $t(`currencies.${currency}.short`) }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Print and PDF -->
    <div class="save-as-btns text-center" v-if="all_types_of_investors.array.length">
      <button class="btn btn-success btn-lg" @click="print">{{ $t('shared.print') }}</button>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    if (process.env.NODE_ENV === "development") {
      // dummy data for testing
      return {
        img: "",
        current_evaluation: 10000,
        evaluation_value: "10000",
        // changing_eval: null,

        founders: [
          {
            id: Math.round(Math.random() * 10000) + "",
            name: "lorem 1",
            shares_count: 500
          }
        ],
        investors: [
          {
            id: Math.round(Math.random() * 10000) + "",
            name: "lorem 2",
            investment_amount: 500
          }
        ]
      };
    }

    return {
      current_evaluation: null,
      evaluation_value: null,
      // changing_eval: true,
      founders: [
        {
          id: Math.round(Math.random() * 10000) + "",
          name: "",
          shares_count: null
        }
      ],
      investors: [
        {
          id: Math.round(Math.random() * 10000) + "",
          name: "",
          investment_amount: null
        }
      ]
    };
  },
  props: ["currency"],
  computed: {
    formated_current_evaluation: {
      get: function() {
        this.current_evaluation =
          this.evaluation_value && this.evaluation_value.replace(/\D/g, "");
        return this.evaluation_value;
      },
      set: function(newValue) {
        this.evaluation_value = this.$options.filters.formatMoney(
          newValue.replace(/\D/g, "")
        );
      }
    },
    total_of_founders_shares() {
      const calc = this.founders.reduce((acc, current) => {
        return acc + +current.shares_count;
      }, 0);
      return calc;
    },
    single_share_value() {
      if (!this.total_of_founders_shares || !this.current_evaluation) return 0;
      return this.current_evaluation / this.total_of_founders_shares;
    },
    total_of_investments() {
      const calc = this.investors.reduce((acc, current) => {
        return acc + +current.investment_amount;
      }, 0);
      return calc;
    },
    total_investors_shares() {
      const calc = this.investors.reduce((acc, current) => {
        const how_much_shares =
          current.investment_amount / this.single_share_value;
        return acc + how_much_shares;
      }, 0);
      return calc;
    },
    all_types_of_investors() {
      const founders_arr = this.founders
        .filter(x => x.name && x.shares_count > 0)
        .map(x => {
          x["shares"] = x.shares_count;
          x["type"] = "current";
          return x;
        });

      const investors_arr = this.investors
        .filter(x => x.name && x.investment_amount > 0)
        .map(x => {
          x["shares"] = x.investment_amount / this.single_share_value;
          x["type"] = "new";
          return x;
        })
        .filter(x => x.shares);

      const both_arr = [...founders_arr, ...investors_arr];
      return {
        array: both_arr,
        shares_total: both_arr.reduce((acc, current) => {
          return acc + +current.shares;
        }, 0)
      };
    }
  },
  methods: {
    getFontSize(str) {
      str = String(Math.floor(str));

      // if desktop then place fixed size
      if (window.innerWidth > 991) return 35;

      if (str.length > 16) {
        return 12;
      }
      if (str.length > 13) {
        return 15;
      }
      if (str.length > 10) {
        return 17;
      }
      if (str.length > 7) {
        return 22;
      }
      if (str.length > 4) {
        return 26;
      }
      return 35;
    },
    print() {
      window.print();
    },
    addNewFounder() {
      this.founders.push({
        id: Math.round(Math.random() * 10000) + "",
        name: "",
        shares_count: null
      });
    },
    removeFounder(i) {
      this.founders.splice(i, 1);
    },
    //
    addNewinvestor() {
      this.investors.push({
        id: Math.round(Math.random() * 10000) + "",
        name: "",
        investment_amount: null
      });
    },
    removeInvestor(i) {
      this.investors.splice(i, 1);
    },
    //
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        (charCode > 31 && (charCode < 48 || charCode > 57)) ||
        charCode === 46
      ) {
        evt.preventDefault();
        return false;
      } else {
        return true;
      }
      return false;
    }
  }
};
</script>

<style lang="scss" scoped>
.save-as-btns {
  .btn-pdf {
    background-color: #ce0202;
    border-color: #ce0202;
    color: #fff;
    margin-right: 15px;
  }
}
.wrapper {
  margin: 50px 0;
}
h1 {
  text-align: center;
  margin-bottom: 20px;
}
.table-wrapper {
  margin-bottom: 30px;
  /* padding: 18px; */
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #e5e4e4;
  position: relative;
  overflow-x: auto;
  .table-header {
    padding: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    > button {
      background-color: #263b80;
      color: #fff;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      padding: 10px 20px;
      border-color: transparent;
      font-size: 16px;
      outline: 0;
    }
    h3 {
      font-size: 20px;
      padding: 12px 0;
      font-weight: 600;
      margin: 0;
    }
    .table-legend {
      display: flex;
      .item {
        position: relative;
        padding-right: 20px;
        margin-right: 15px;
        &:after {
          content: "";
          width: 15px;
          height: 15px;
          border-radius: 2px;
          background-color: #ddd;
          display: block;
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
        }
        &:first-of-type:after {
          background-color: #2ecc71;
        }
        &:last-of-type:after {
          background-color: #3498db;
        }
      }
    }
  }
  .table > tbody > tr > td,
  .table > tbody > tr > th,
  .table > tfoot > tr > td,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > thead > tr > th {
    vertical-align: middle;
  }
  table {
    margin: 0;
    thead {
      td {
        color: #8c99b7;
        border-right: 1px solid #e5e4e4;
        border-top: 1px solid #e5e4e4 !important;
        &:first-of-type {
          border-right: 0;
        }
      }
    }
    td > span {
      position: relative;
      padding-right: 23px;
      &:after {
        content: "";
        width: 15px;
        height: 15px;
        border-radius: 2px;
        background-color: #ddd;
        display: block;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      &.person-type--new:after {
        background-color: #2ecc71;
      }
      &.person-type--current:after {
        background-color: #3498db;
      }
    }
    tfoot {
      background-color: #f5f7fb;
      td {
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }
  }
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: transparentize(#f5f7fb, 0.4);
}
/* .delete-btn { */
/* border: 0; */
/* background-color: transparent; */
/* outline: 0; */
/* img { */
/* width: 100%; */
/* } */
/* } */
.eval-table {
  display: flex;
  align-items: center;
  justify-content: space-between;
  h3 {
    margin: 0;
    cursor: pointer;
    img {
      width: 20px;
      margin-left: 5px;
      vertical-align: top;
    }
  }
  .form-group {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 40px;
    span {
      white-space: pre;
      margin-right: 10px;
      font-weight: bold;
    }
  }
  input {
    font-size: 25px;
    padding: 5px 15px;
    height: auto;
    max-width: 90%;
  }
}
tfoot {
  font-weight: bold;
}
.breif {
  margin-top: 50px;
  text-align: right;
  /* display: flex; */
  /* flex-wrap: wrap; */
  display: table;
  width: 100%;
  .breif-header {
    width: 100%;
    display: table;

    > div {
      display: table-cell !important;
      color: #8c99b7;
    }
    .part {
      padding: 10px 20px;
    }
  }
  .single-breif {
    /* display: flex;
    flex-direction: row;
    align-items: center; */
    width: 100%;
    color: #263b80;
    display: table-row;
    /* border-left: 1px solid #e5e4e4; */
    /* border-top: 1px solid #e5e4e4; */
    &:nth-child(even) {
      border-left: 0;
      /* border-bottom: 1px solid #e5e4e4; */
    }
    h3 {
      padding: 0 15px;
      margin: 0;
      font-weight: bold;
      color: #000;
      display: table-cell;
      border-top: 1px solid #e5e4e4;
      text-align: center;
      span {
        color: #8c99b7;
      }
    }
    div {
      font-size: 20px;
    }
    .split {
      /* flex: 1; */
      display: flex;
      .part {
        display: inline-flex;
        flex-direction: row;
        align-items: center;
        width: 50%;
        border-top: 1px solid #e5e4e4;
        border-right: 1px solid #e5e4e4;
        justify-content: center;
        &.width-100 {
          width: 100%;
        }
        div {
          padding: 15px;
        }
        .brief-label {
          color: #8c99b7;
          font-weight: 500;
          /* border-left: 1px solid #e5e4e4; */
          display: none;
        }
        .value {
          font-size: 35px;
          font-weight: 500;
        }
        span {
          font-size: 65%;
        }
      }
    }
  }
}
h2 {
  width: 33.333%;
  font-size: 35px;
  font-weight: bold;
  small {
    font-size: 45%;
  }
  span {
    font-size: 60%;
  }
}
.hide {
  display: none;
}
</style>
