<template>
  <div class="home">
    <div class="question">
      <h1>حاسبة جولة</h1>
      <!-- <h3>هل يوجد ديون قابلة للتحويل؟</h3> -->
      <!-- <p>الديون القابلة للتحويل هي...</p> -->
      <ul>
        <li @click="setActive('no')" :class="{'active': active == 'no'}">
          <svg
            height="496pt"
            viewBox="0 0 496 496"
            width="496pt"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m248 144c8.824219 0 16 7.175781 16 16h16c0-14.863281-10.230469-27.289062-24-30.863281v-17.136719h-16v17.136719c-13.769531 3.574219-24 16-24 30.863281 0 17.648438 14.351562 32 32 32 8.824219 0 16 7.175781 16 16s-7.175781 16-16 16-16-7.175781-16-16h-16c0 14.863281 10.230469 27.289062 24 30.863281v17.136719h16v-17.136719c13.769531-3.574219 24-16 24-30.863281 0-17.648438-14.351562-32-32-32-8.824219 0-16-7.175781-16-16s7.175781-16 16-16zm0 0"
            />
            <path
              d="m496 208v-64h-48v-144h-323.558594l-76.441406 84.929688v59.070312h-48v64h48v27.128906l-30.59375-11.128906h-17.40625v176h69.878906l4.191406-13.425781 33.808594 20.28125 22.417969 5.839843c-1.464844 3.214844-2.296875 6.695313-2.296875 10.335938 0 13.472656 10.734375 24.410156 24.089844 24.878906.46875 13.355469 11.414062 24.089844 24.878906 24.089844 2.847656 0 5.632812-.585938 8.289062-1.527344 3.191407 10.121094 12.550782 17.527344 23.710938 17.527344 5.328125 0 10.503906-1.816406 14.765625-4.953125l5.921875 5.921875c4.527344 4.535156 10.558594 7.03125 16.96875 7.03125h1.375c10.359375 0 19.121094-6.632812 22.472656-15.839844 4.511719 4.871094 10.824219 7.839844 17.527344 7.839844 11.105469 0 20.382812-7.617188 23.113281-17.871094 2.808594 1.128906 5.789063 1.871094 8.886719 1.871094 11.105469 0 20.382812-7.617188 23.113281-17.871094 2.808594 1.128906 5.789063 1.871094 8.886719 1.871094 13.230469 0 24-10.769531 24-24v-2.664062c0-5.160157-1.703125-10.273438-4.808594-14.398438l-2.648437-3.53125 29.703125-23.765625 3.875 12.359375h93.878906v-176h-16l-32 9.054688v-25.054688zm-368-188.039062v60.039062h-54.039062zm-64 76.039062h80v-80h288v128h-48v-30.953125l-94.425781 62.953125 94.425781 62.953125v-30.953125h48v29.585938l-74.078125 20.964843 6.925781 22.167969-99.742187 6.648438c-7.457031.496093-14.625 2.441406-21.320313 5.785156l-17.121094 8.558594c-7.601562-3.6875-15.910156-5.710938-24.433593-5.710938h-56.34375l-37.628907-18.816406 5.652344-18.085938-49.910156-18.152344v-32.945312h48v30.953125l94.425781-62.953125-94.425781-62.953125v30.953125h-48zm-48 96v-32h112v-17.046875l49.574219 33.046875-49.574219 33.046875v-17.046875zm42.121094 192h-42.121094v-143.488281l78.089844 28.390625zm56.976562 8.527344-36.105468-21.664063 24.441406-78.207031 38.679687 19.34375h60.125c7.503907 0 14.832031 2.105469 21.195313 6.078125l43.503906 27.1875c3.167969 1.980469 5.0625 5.40625 5.0625 9.148437v2.792969c0 5.953125-4.839844 10.792969-10.800781 10.792969-1.953125 0-3.863281-.527344-5.542969-1.535156l-30.046875-18.023438c-11.984375-7.175781-28.167969-5.175781-38.050781 4.6875l-46.015625 46.015625zm140.902344 79.472656c0 4.40625-3.585938 8-8 8h-1.375c-2.105469 0-4.167969-.855469-5.65625-2.34375l-6.625-6.625c-1.511719-1.511719-2.34375-3.527344-2.34375-5.664062v-1.367188c0-4.40625 3.585938-8 8-8h1.375c2.105469 0 4.167969.855469 5.65625 2.34375l6.625 6.625c1.511719 1.511719 2.34375 3.527344 2.34375 5.664062zm40-8c0 4.40625-3.585938 8-8 8-2.503906 0-4.894531-1.191406-6.398438-3.199219l-16-21.335937c-1.035156-1.375-1.601562-3.082032-1.601562-4.800782v-2.664062c0-4.40625 3.585938-8 8-8 2.503906 0 4.894531 1.191406 6.398438 3.199219l16 21.335937c1.035156 1.375 1.601562 3.082032 1.601562 4.800782zm32-16c0 4.40625-3.585938 8-8 8-2.503906 0-4.894531-1.191406-6.398438-3.199219l-16-21.335937c-1.035156-1.375-1.601562-3.082032-1.601562-4.800782v-2.664062c0-4.40625 3.585938-8 8-8 2.503906 0 4.894531 1.191406 6.398438 3.199219l16 21.335937c1.035156 1.375 1.601562 3.082032 1.601562 4.800782zm32-16c0 4.40625-3.585938 8-8 8-2.503906 0-4.894531-1.191406-6.398438-3.199219l-16-21.335937c-1.035156-1.375-1.601562-3.082032-1.601562-4.800782v-2.664062c0-4.40625 3.585938-8 8-8 2.503906 0 4.894531 1.191406 6.398438 3.199219l16 21.335937c1.035156 1.375 1.601562 3.082032 1.601562 4.800782zm-1.054688-33.398438-3.746093-5c-4.503907-6.007812-11.679688-9.601562-19.199219-9.601562-11.105469 0-20.382812 7.617188-23.113281 17.871094-2.808594-1.128906-5.789063-1.871094-8.886719-1.871094-11.105469 0-20.382812 7.617188-23.113281 17.871094-2.808594-1.128906-5.789063-1.871094-8.886719-1.871094-13.230469 0-24 10.769531-24 24v1.039062c-2.136719-.613281-4.335938-1.039062-6.625-1.039062h-1.375c-13.230469 0-24 10.769531-24 24v1.367188c0 1.023437.167969 2.015624.296875 3.023437l-.984375.984375c-1.671875 1.664062-3.984375 2.625-6.34375 2.625-4.945312 0-8.96875-4.023438-8.96875-8.96875 0-2.398438.929688-4.648438 2.625-6.34375l35.03125-35.03125-11.3125-11.3125-43.03125 43.03125c-1.671875 1.664062-3.984375 2.625-6.34375 2.625-4.945312 0-8.96875-4.023438-8.96875-8.96875 0-2.398438.929688-4.648438 2.625-6.34375l43.03125-43.03125-11.3125-11.3125-43.03125 43.03125c-1.671875 1.664062-3.984375 2.625-6.34375 2.625-4.945312 0-8.96875-4.023438-8.96875-8.96875 0-2.398438.929688-4.648438 2.625-6.34375l52.246094-52.246094c4.800781-4.800781 12.6875-5.777344 18.503906-2.28125l30.039062 18.023438c4.171876 2.496094 8.9375 3.816406 13.785157 3.816406 14.777343 0 26.800781-12.015625 26.800781-26.792969v-2.792969c0-9.300781-4.710938-17.796874-12.59375-22.71875l-32.40625-20.246093 7.9375-3.96875c4.78125-2.390625 9.894531-3.785157 15.222656-4.136719l103.59375-6.902344 23.375 74.816406zm121.054688-158.28125v143.679688h-66.121094l-35.800781-114.558594zm-112-48.320312v17.046875l-49.574219-33.046875 49.574219-33.046875v17.046875h112v32zm0 0"
            />
            <path d="m160 32h256v16h-256zm0 0" />
            <path d="m160 64h256v16h-256zm0 0" />
          </svg>
          حاسبة حصص المؤسسين والمستثمرين
        </li>

        <li @click="setActive('yes')" :class="{'active': active == 'yes'}">
          <svg
            version="1.1"
            id="Capa_1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            viewBox="0 0 480 480"
            style="enable-background:new 0 0 480 480;"
            xml:space="preserve"
          >
            <path
              d="M456,208H296c-13.255,0-24,10.745-24,24v224c0,13.255,10.745,24,24,24h160c13.255,0,24-10.745,24-24V232
			C480,218.745,469.255,208,456,208z M368,464h-72c-4.418,0-8-3.582-8-8v-56h80V464z M368,384h-80v-64h80V384z M464,456
			c0,4.418-3.582,8-8,8h-72v-64h80V456z M464,384h-80v-64h80V384z M464,304H288v-72c0-4.418,3.582-8,8-8h160c4.418,0,8,3.582,8,8
			V304z"
            />

            <path
              d="M440,240H312c-4.418,0-8,3.582-8,8v32c0,4.418,3.582,8,8,8h128c4.418,0,8-3.582,8-8v-32C448,243.582,444.418,240,440,240z
			 M432,272H320v-16h112V272z"
            />

            <polygon
              points="336,344 336,328 320,328 320,344 304,344 304,360 320,360 320,376 336,376 336,360 352,360 352,344 		"
            />

            <rect x="400" y="344" width="48" height="16" />

            <polygon
              points="350.624,421.656 339.312,410.344 328,421.656 316.688,410.344 305.376,421.656 316.688,432.968 305.376,444.28 
			316.688,455.592 328,444.28 339.312,455.592 350.624,444.28 339.312,432.968 		"
            />

            <rect x="400" y="424" width="48" height="16" />

            <rect x="416" y="444" width="16" height="8" />

            <rect x="416" y="412" width="16" height="8" />

            <path
              d="M320,0H88v0.072c-2.112-0.025-4.148,0.793-5.656,2.272l-80,80C0.863,83.851,0.045,85.887,0.072,88H0v376
			c0,8.837,7.163,16,16,16h240v-16h-48v-24h16c4.418,0,8-3.582,8-8v-40c0-4.418-3.582-8-8-8h-16v-24h16c4.418,0,8-3.582,8-8v-40
			c0-4.418-3.582-8-8-8h-0.208c20.243-15.048,32.184-38.777,32.208-64c0.086-44.183-35.662-80.069-79.844-80.155
			S96.086,195.507,96,239.689c-0.049,25.327,11.897,49.181,32.208,64.311H64c-4.418,0-8,3.582-8,8v32H40c-4.418,0-8,3.582-8,8v40
			c0,4.418,3.582,8,8,8h16v24H40c-4.418,0-8,3.582-8,8v32H16V96h64c8.837,0,16-7.163,16-16V16h224v176h16V16
			C336,7.163,328.837,0,320,0z M216,400v24H72v-24H216z M112,240c0-35.346,28.654-64,64-64c35.346,0,64,28.654,64,64
			c0,35.346-28.654,64-64,64C140.67,303.96,112.04,275.33,112,240z M72,320h144v24H72V320z M48,384v-24h144v24H64H48z M48,440h144
			v24H48V440z M80,80H27.312L80,27.312V80z"
            />

            <path
              d="M176,216h24v-16h-16v-8h-16v9.472c-12.473,4.393-19.023,18.066-14.629,30.539c3.38,9.596,12.455,16.009,22.629,15.989
			c4.418,0,8,3.582,8,8s-3.582,8-8,8h-24v16h16v8h16v-9.472c12.473-4.393,19.023-18.066,14.629-30.539
			c-3.38-9.596-12.455-16.009-22.629-15.989c-4.418,0-8-3.582-8-8S171.582,216,176,216z"
            />

            <path
              d="M448,40h-16c0-4.418-3.582-8-8-8h-8V8c0-4.418-3.582-8-8-8h-32c-4.418,0-8,3.582-8,8v24h-8c-4.418,0-8,3.582-8,8v152h16
			V48h48v144h16V56h16v104h16V56C464,47.163,456.837,40,448,40z M400,32h-16V16h16V32z"
            />

            <rect x="120" y="64" width="136" height="16" />

            <rect x="32" y="112" width="272" height="16" />

            <rect x="32" y="144" width="96" height="16" />

            <rect x="232" y="144" width="72" height="16" />
          </svg>
          حاسبة حصص المساهمين الحاليين والجدد
        </li>
      </ul>
      <router-link
        tag="span"
        :to="active == 'yes' ? '/convertible-notes' : '/no-convertible-notes'"
      >
        <btn :class="{'active': active}" type="primary">التالي</btn>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  components: {
    //
  },
  data() {
    return {
      active: null
    };
  },
  methods: {
    setActive(x) {
      this.active = x;
    }
  }
};
</script>

<style lang="scss" scoped>
h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
.home {
  text-align: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    li {
      padding: 20px;
      border-radius: 15px;
      font-size: 22px;
      border: 2px solid transparentize(#2c3e50, 0.2);
      color: transparentize(#2c3e50, 0.2);
      margin: 20px;
      width: 300px;
      height: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      cursor: pointer;
      transition: 0.15s;
      svg {
        width: 85px;
        max-height: 85px;
        margin-bottom: 20px;
        path,
        rect,
        polygon {
          fill: transparentize(#2c3e50, 0.2);
          transition: 0.15s;
        }
      }
      &.active {
        border: 2px solid #e74c3c;
        color: #e74c3c;
        transform: scale(1.1);
        svg {
          path,
          rect,
          polygon {
            fill: #e74c3c;
          }
        }
      }
    }
  }
  button {
    width: 250px;
    margin: auto;
    margin-top: 50px;
    opacity: 0;
    transform: translateY(-70px);
    transition: 0.2s;
    &.active {
      transform: translateY(0);
      opacity: 1;
    }
  }
  .not-ready {
    margin-top: 50px;
  }
}
</style>
