<template>
  <div class="wrapper">
    <div class="table-wrapper">
      <h3>المدخلات</h3>
      <div class="form-group">
        <label>التقييم الحالي</label>
        <input
          class="form-control"
          type="text"
          @keypress="isNumber($event)"
          v-model="current_evaluation"
        />
      </div>
      <div class="form-group">
        <label>عدد الأسهم الحالي</label>
        <input
          class="form-control"
          type="text"
          @keypress="isNumber($event)"
          v-model="number_of_current_shares"
        />
      </div>
      <div class="form-group">
        <label>مبلغ الإستثمار الجديد</label>
        <input
          class="form-control"
          type="text"
          @keypress="isNumber($event)"
          v-model="new_investment"
        />
      </div>
    </div>
    <div class="table-wrapper">
      <h3>المخرجات</h3>
      <table>
        <tr>
          <td>سعر السهم الواحد</td>
          <td>
            <template
              v-if="render_results && single_share_price != null"
            >{{single_share_price | formatMoney(4)}} ريال</template>
            <template v-else>--</template>
          </td>
        </tr>
        <tr>
          <td>عدد الأسهم الصادرة</td>
          <td>
            <template
              v-if="render_results && number_of_new_shares_issued != null"
            >{{number_of_new_shares_issued | formatMoney}} سهم</template>
            <template v-else>--</template>
          </td>
        </tr>
        <tr>
          <td>عدد الأسهم الكلي</td>
          <td>
            <template
              v-if="render_results && total_number_of_shares != null"
            >{{total_number_of_shares | formatMoney}} سهم</template>
            <template v-else>--</template>
          </td>
        </tr>
      </table>
      <template v-if="render_results">
        <h3>الحصص</h3>
        <div class="shares-illustration">
          <div class="founder" :style="{'width': `${founder_percentage}%`}">
            <div>حصة المؤسسين</div>
            <span>{{founder_percentage | formatMoney}}%</span>
          </div>
          <div
            class="investor"
            :style="{'width': `${investor_percentage}%`}"
            v-if="investor_percentage && investor_percentage > 0"
          >
            <div>حصة المستثمر</div>
            <span>{{investor_percentage | formatMoney}}%</span>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      current_evaluation: null,
      number_of_current_shares: null,
      new_investment: null
      //   current_evaluation: 3000000,
      //   number_of_current_shares: 500000,
      //   new_investment: 1000000
    };
  },
  computed: {
    render_results() {
      if (this.current_evaluation && this.number_of_current_shares) {
        return true;
      }
      return false;
    },
    single_share_price() {
      //   console.log(this.current_evaluation, this.number_of_current_shares);
      const calc = this.current_evaluation / this.number_of_current_shares;
      return isNaN(calc) ? null : calc;
    },
    number_of_new_shares_issued() {
      const calc = this.new_investment / this.single_share_price;
      return isNaN(calc) ? null : calc;
    },
    total_number_of_shares() {
      if (
        this.number_of_current_shares === null &&
        this.number_of_new_shares_issued === null
      ) {
        return null;
      }
      const calc =
        +this.number_of_current_shares + this.number_of_new_shares_issued;
      return isNaN(calc) ? null : calc;
    },
    founder_percentage() {
      const calc =
        (this.number_of_current_shares / this.total_number_of_shares) * 100;
      return isNaN(calc) ? null : calc;
    },
    investor_percentage() {
      const calc =
        (this.number_of_new_shares_issued / this.total_number_of_shares) * 100;
      return isNaN(calc) ? null : calc;
    }
  },
  methods: {
    isNumber: function(evt) {
      evt = evt ? evt : window.event;
      var charCode = evt.which ? evt.which : evt.keyCode;
      if (
        (charCode > 31 && (charCode < 48 || charCode > 57)) ||
        charCode === 46
      ) {
        evt.preventDefault();
      } else {
        return true;
      }
    }
  }
};
</script>


<style lang="scss" scoped>
.wrapper {
  margin: 50px 0;
}
.table-wrapper {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
h3 {
  margin-top: 0;
  margin-bottom: 20px;
}
table {
  border-collapse: collapse;
  width: 100%;
  th,
  td {
    text-align: right;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr {
    td:first-of-type {
      width: 250px;
    }
  }
}
.shares-illustration {
  display: flex;
  background-color: #ddd;
  border-radius: 5px;
  margin-top: 60px;
  color: #fff;
  > div {
    height: 50px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    &.founder {
      background-color: #27ae60;
      > div {
        background-color: #27ae60;
        &:after {
          border-top-color: #27ae60;
        }
      }
    }
    &.investor {
      background-color: #8e44ad;
      > div {
        background-color: #8e44ad;
        &:after {
          border-top-color: #8e44ad;
        }
      }
    }
    > div {
      position: absolute;
      bottom: calc(100% + 10px);
      left: 50%;
      transform: translateX(-50%);
      padding: 10px;
      border-radius: 5px;
      background-color: #aaa;
      width: 150px;
      text-align: center;
      &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 5px solid #aaa;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        display: block;
      }
    }
  }
}
</style>
