<template>
  <button :class="type" @click="click || ''">
    <slot></slot>
  </button>
</template>

<script>
export default {
  props: ["type", "click"]
};
</script>


<style lang="scss" scoped>
button {
  background-color: #ebeef4;
  border: 2px solid transparentize(#2d325b, 0.9);
  color: #2c3e50;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  font-size: 18px;
  text-transform: capitalize;
  border-radius: 18px;
  outline: 0;
  font-family: inherit;
  &.primary {
    color: #fff;
    background-color: #e74c3c;
    border-color: #e74c3c;
  }
  &.outline {
    color: #e74c3c;
    background-color: #fff;
    border: 1px solid #e74c3c;
  }
}
</style>

