<template>
  <div id="app" class="container">
    <div class="lang-switcher" @click="switchLang">
      <span>{{$i18n.locale === 'en' ? 'العربية' : 'English'}}</span>
      <img src="@/assets/earth.png" alt="Globe" />
    </div>

    <ConvertibleNotes :currency="currency" />

    <div class="currency-selector">
      <select v-model="currency" class="form-control">
        <option
          v-for="(item, i) in currencies"
          :key="i"
          :value="item.value"
        >{{$t(`currencies.${item.value}.long`)}}</option>
      </select>
    </div>
  </div>
</template>

<script>
import ConvertibleNotes from "@/views/ConvertibleNotes";

export default {
  components: {
    ConvertibleNotes
  },
  data() {
    return {
      currency: "SAR",
      currencies: [
        {
          value: "USD"
        },
        {
          value: "SAR"
        }
      ]
    };
  },
  methods: {
    switchLang() {
      if (this.$i18n.locale === "en") {
        this.$i18n.locale = "ar";
        document.body.classList.remove("en-body");
        document.body.classList.add("ar-body");
      } else if (this.$i18n.locale === "ar") {
        this.$i18n.locale = "en";
        document.body.classList.remove("ar-body");
        document.body.classList.add("en-body");
      }
    }
  }
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Tajawal", sans-serif;
  font-size: 16px;
  direction: rtl;
  background-color: #f8f8f8;
  &.pdf-page {
    overflow: -moz-hidden-unscrollable;
    overflow: hidden;
    .wrapper {
      margin: unset !important;
    }
    .container {
      width: 100% !important;
      margin: unset !important;
      padding: 0 !important;
    }
  }

  &.en-body {
    direction: ltr;
    .eval-table .form-group {
      padding-left: 0;
      padding-right: 40px;
      span {
        margin-right: 0;
        margin-left: 10px;
      }
    }
    .table-wrapper table td > span {
      padding-left: 23px;
      padding-right: 0;
      &:after {
        right: auto;
        left: 0;
      }
    }
    .table-wrapper .table-header .table-legend .item {
      margin-left: 15px;
      margin-right: 0;
      padding-left: 20px;
      padding-right: 0;
      &:after {
        right: auto;
        left: 0;
      }
    }
    .breif .single-breif .split .part {
      border-right: 0;
      border-left: 1px solid #e5e4e4;
    }
    .lang-switcher {
      left: auto;
      right: 40px;
    }
    .currency-selector {
      right: auto;
      left: 40px;
    }
  }
}
.lang-switcher {
  position: absolute;
  top: 20px;
  left: 40px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.15s;
  user-select: none;
  img {
    width: 25px;
    height: 25px;
    margin: 0 10px;
  }
}
.currency-selector {
  position: absolute;
  top: 20px;
  right: 40px;
  font-size: 22px;
  background-color: #fff;
}
</style>
